<header>
    <h1> با وبسایت ما جدید ترین فیلم های روز را دنبال کنید </h1>
    <h2> سرگرمی  ، هیجان و تفریح را در این سایت تجربه کنید </h2>
    <h3> با کمترین هزینه فیلم های به روز رو دنبال کن </h3>
</header>