<div class="landing-layer">
    <div class="container">
        <nav>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <ul>
                        <li>
                            <a asp-area="Admin">پنل ادمین</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <partial name="TemplatePartials/_Header" />
    </div>
</div>