@model ProjeNarmAfzar.Domain.ViewModels.Video.FilterVideoViewModel
<div class="search-form">
    <form method="get" asp-area="" asp-controller="Video" asp-action="VideoLists">
        <input asp-for="Title" type="text" name="" placeholder="چی دوست داری ببینی ؟">
        <button><i class="zmdi zmdi-search"></i></button>
    </form>
</div>

